<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="stylesheets/list.css" />
	</head>
	<body>
		<div class="list">
    		<div class="top">
    			<h4>管理中心-商品列表</h4>
    			<h5>添加新商品</h5>
    		</div>
    		<p>关键字:<input type="text" /><button>确定</button></p>
    		<table class = "tab">
    			<tr><td><label ><input type="checkbox" />编号</label></td><td>商品名称</td><td>货号</td><td>价格</td><td>上架</td><td>精品</td><td>新品</td><td>热销</td><td>推荐排序</td><td>库存</td><td>虚拟销量</td><td>操作</td></tr>
    			<tr><td><label ><input type="checkbox" />编号</label></td><td>商品名称</td><td>货号</td><td>价格</td><td>上架</td><td>精品</td><td>新品</td><td>热销</td><td>推荐排序</td><td>库存</td><td>虚拟销量</td><td>操作</td></tr>
    		</table>
    		<div class="footer">
    			<h3>总页为31个记录，分3个页面，当前第一页，每页<input type="text" /></h3>
    			<ul>
    				<li><a href="javascript:;">首页</a></li>
    				<li><a href="javascript:;">上一页</a></li>
    				<li><a href="javascript:;">下一页</a></li>
    				<li><a href="javascript:;">末页</a></li>
    			</ul>
    		</div>
    	</div>	
	</body>
</html>
