<!DOCTYPE html>
<html>
  <head>
   <title></title>
  <meta charset="utf-8" />
   <link rel="stylesheet" href="stylesheets/page.css" />
   <link rel="stylesheet" href="stylesheets/iconfont.css" />
   <link rel="stylesheet" href="stylesheets/iconfont (2).css" />
   <script src="javascripts/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="head">
    	<div class="logo"><img src="images/logo.jpg" alt=""></div>
    	<div class="right_head">
    		<ul>
    			<li><dl><dt><i class = "iconfont">&#xe609;</i></dt><dd class = "more">更多模板堂产品</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe6a9;</i></dt><dd>开店向导</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe63c;</i></dt><dd>记事本</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe62b;</i></dt><dd>刷新</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe606;</i></dt><dd>个人设置</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe603;</i></dt><dd>管理员留言</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe618;</i></dt><dd>查看网点</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe63b;</i></dt><dd>帮助</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe602;</i></dt><dd>关于</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe616;</i></dt><dd>清除缓存</dd></dl></li>
    			<li><dl><dt><i class = "iconfont">&#xe60f;</i></dt><dd>退出</dd></dl></li>
    		</ul>
    	</div>
    </div>	
    <ul id = "nav">
    	<li><i class = "iconfont">&#xe600;</i>起始页</li>
    	<li><i class = "iconfont">&#xe68d;</i>设置导航栏</li>
    	<li><i class = "iconfont">&#xe605;</i>商品管理<span class = "count">0</span></li>
    	<li><i class = "iconfont">&#xe608;</i>订单管理<span class = "count">0</span></li>
    	<li><i class = "iconfont">&#xe60b;</i>广告管理<span class = "count">0</span></li>
    	<li><i class = "iconfont">&#xe60e;</i>用户评论<span class = "count">0</span></li>
    	<li>用户评论</li>
    	<li>商品列表</li>
    	<li>会员列表</li>
    	<li>商店设置</li>
    	<li>移动版</li>
    	<li>服务市场</li>
    </ul>
    <div class="side_nav">
    	<ul>
    		<li class = "one">导航菜单</li>
    		<li><i class = "iconfont left">&#xe605;</i>商品管理<i class = "iconfont right ">&#xe60e;</i></li>
    		<li class = "two"><a href="http://localhost:8080/add" target="iframe_a" style="color:white">添加新商品</a></li>
    		<li class = "two"><a href="http://localhost:8080/list" target="iframe_a"style="color:white">商品列表</a></li>
    		
    	
    	</ul>
    	
    	
    </div>
    <iframe src="" width="1100px" height="560px" name="iframe_a"style="overflow: auto;"></iframe>
    		
    <div class="side_right">
    	
    	<div class="index">
       <h3>ECSHOP商品管理</h3>
    	<h3 class = "small"><span>no-lisrt</span><a href="">点击查看</a></h3>
    	<div class="middle">
    		
    	
    	<div class="first">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first senond">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first third">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first four">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	<div class="first five">
    		<i class = "iconfont" >&#xe60e;</i>
    		<div class="details">
    			<dl>
    				<dt>今日销售总额</dt>
    				<dd>0元</dd>
    			</dl>
    		</div>
    	</div>
    	</div>
    	</div>
    	
    	
    </div>
  </body>
</html>
<script type="text/javascript">
	
	$(function(){
		$(".index").show()
		$("iframe").hide();
	})
	$(".side_nav .two").click(function(){
		$("iframe").show();
		$(".side_right").hide();
	})
	
</script>
